<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Inventory</a>

    <div class="navbar-nav">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Items
      </a>
      <a class="nav-link" routerLink="/add" routerLinkActive="active"> Add </a>
      <a class="nav-link" routerLink="/stats" routerLinkActive="active">
        Statistics
      </a>
    </div>
  </div>
</nav>
