<footer class="bg-dark text-light mt-5 pt-4 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Inventory App</h5>
        <p class="small text-secondary">
          Manage items, add new products, track inventory, and view statistics.
        </p>
      </div>

      <!-- <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Navigation</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/" class="text-light text-decoration-none">Items</a>
          </li>
          <li>
            <a routerLink="/add" class="text-light text-decoration-none"
              >Add Item</a
            >
          </li>
          <li>
            <a routerLink="/stats" class="text-light text-decoration-none"
              >Statistics</a
            >
          </li>
        </ul>
      </div> -->

      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Contact</h5>
        <ul class="list-unstyled">
          <li class="text-secondary small">Email: supportinventory.com</li>
          <li class="text-secondary small">Phone: +995 23 56 80</li>
        </ul>
      </div>
    </div>

    <hr class="border-secondary" />

    <div class="text-center text-secondary small">
      © 2025 Inventory App · All rights reserved
    </div>
  </div>
</footer>
